<div class="container-md">
    <div class="row">
        <div class="col">
            <h5>Create a new room</h5>
            <div class="mb-3">
                <label class="form-label" for="room_password">Room password (optional)</label>
                <input class="form-control" type="password" name="room_password" id="room_password" #room_password>
                <div class="form-text">Needed to enter the room</div>
            </div>
            <button type="button" class="btn btn-primary"
                (click)="roomsService.newRoom(room_password.value)">Create</button>
        </div>
    </div>
</div>