<div class="container-md container-fluid">
    <div class="row mt-5 justify-content-center">
        <div class="col-8 col-lg-4">
            <h3>Login</h3>
            <div class="mb-3 form-group">
                <label class="form-label" for="email">e-mail</label>
                <input class="form-control" type="email" name="email" id="email" #email required>
            </div>
            <div class="mb-3 form-group">
                <label class="form-label" for="password">Password</label>
                <input class="form-control" type="password" name="password" id="password" #password>
            </div>
            <div class="mb-3 form-group">
                <input class="btn btn-primary" type="button" value="Log in"
                    (click)="authService.signIn(email.value, password.value, next)">
            </div>

            <div class="form-text">Do not have an account? <a href="/register">Create one here</a></div>

            <div class="divider mb-3">Or</div>

            <div class="mb-3 form-group">
                <button class="btn btn-outline btn-google btn-block" (click)="authService.googleAuth(next)">
                    <img class="icon" src="assets/google_icon.webp"/>
                    Sign in with Google
                </button>
            </div>
        </div>
    </div>
</div>
