<div class="container-fluid vh-100 px-0">
  <nav class="navbar navbar-expand fixed-top navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand h1" href="#">{{ title }}</a>
      <div class="">
        <ul id="usermenu" class="navbar-nav me-auto">
          <li class="nav-item dropdown" [class.d-none]="!authService.isLoggedIn">
            <a class="nav-link dropdown-toggle" id="username" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
              {{ display_name }}
            </a>
            <ul class="dropdown-menu" aria-labelledby="username">
              <li class="" [class.d-none]="!authService.isLoggedIn">
                <a class="dropdown-item" href="#" (click)="authService.signOut()">Sign out</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  <div class="content-wrapper h-100">
    <router-outlet></router-outlet>
  </div>
</div>
