@import 'node_modules/bootstrap/scss/bootstrap.scss'

#grid-container
    display: grid
    height: 100%
    grid-template-columns: 200px 5fr
    transition: all 0.25s

#grid-container.collapsed
    grid-template-columns: 0 6fr

#members-list
    z-index: 1
    overflow-x: hidden
    transition: all 0.25s

#members-list.collapsed
    padding: 0
    width:0

#messages-area
    display: grid
    grid-template-rows: 35px auto 48px
    overflow: hidden
    transition: all 0.25s

#menu-toggle
    margin-left: -12px
    margin-top: -4px
    border-radius: 0

#messages
    overflow-y: auto

.author
    font-weight: bold

.author.me
    font-weight: bold
    color: blue

@include media-breakpoint-up(md)
    .grid-container.collapsed
        grid-template-columns: 200px 5fr

    .grid-container.collapsed
        #members-list
            padding: inherit
            width: auto

    #menu-toggle
        display: none