<div class="container-fluid d-flex h-100" [class.d-none]="!user_valid">
    <div id="grid-container" class="row flex-fill">
        <aside id="members-list" class="pt-2 text-light bg-dark">
            <h6>Members: {{ (members | async )?.length }}</h6>
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-transparent text-light border-light text-truncate"
                 *ngFor="let item of (members|async) ">
                    {{ item.display_name }}
                </li>
            </ul>
        </aside>
        <main id="messages-area" class="">
            <h5><a id="menu-toggle" class="btn btn-dark rounded-end" href="#"><i class="bi bi-list text-light"></i></a> Messages</h5>
            <div #messages_container id="messages" class="" [scrollTop]="messages_container.scrollHeight">
                <p class="message mb-1" *ngFor="let msg of messages | async">
                    <span class="author" [class.me]="msg.author == user_id">{{ membersMap?.get(msg.author)?.display_name }}: </span>
                    {{msg.content}}
                </p>
            </div>
            <div id="send-group" class="input-group mb-2 align-bottom">
                <button class="btn btn-outline-primary" type="button" (click)="rollDice('#2D6')">2D6</button>
                <button class="btn btn-outline-primary" type="button" (click)="rollDice('#3D6')">3D6</button>
                <input class="form-control" type="text" placeholder="Message" name="entry" id="entry" #entry (keyup.enter)="sendMessage(entry.value)">
                <button class="btn btn-primary" type="button" (click)="sendMessage(entry.value)"><i class="bi bi-arrow-up-right"></i></button>
            </div>
        </main>
    </div>
</div>

<div class="container-fluid" [class.d-none]="user_valid">
    <div class="col-8 pt-2">
        <h4>Room password</h4>
        <div class="mb-3">
            <label class="form-label" for="password">Password</label>
            <input class="form-control" type="password" name="password" id="password" #password>
        </div>
        <button type="button" class="btn btn-primary"
            (click)="user_valid = validateUserPass(password.value)">Verify</button>
    </div>
</div>
