/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap')

body 
    overflow: hidden

.divider 
    display: flex
    align-items: center
    text-align: center

.divider::before,
.divider::after
    content: ''
    flex: 1
    border-bottom: 1px solid #ccc

.divider:not(:empty)::before
    margin-right: .5em

.divider:not(:empty)::after
    margin-left: .5em

.btn-google
    font-family: 'Roboto', sans-serif
    color: #545454
    background-color: #ffffff
    box-shadow: 0 1px 2px 1px #ccc

.icon
    width: 20px
    margin-right: 8px
